&
  @media screen and (max-width 1059px)
    width 100%

  @media screen and (max-height 770px)
    &:not([data-is-feed])
      height 650px

      &__phone
        bottom -370px

      &__chat
        height calc(100% - 315px)

      &__sms
        &[data-solo]
          margin-top 100px

  &[max-width~='1026px'] // {$mq.notDesktop
    & ^[-1]__answers
      width calc(100% - 40px)

    & ^[-1]__final
      font-size .5em

      &-result
        padding 0 20px
        grid-template resultGrid(140px, 80px, 60px, 200px)

      &--score
        padding-top 20px

      &--sms
        padding 10px 30px

        & ^[0]__sms
          &-text--content
            padding 10px

          &--sender, &--text
            font-size .9em

      &--face
        img
          height 120px

  &[max-width~='679px'] // $mq.mobile
    height 610px

    --mgfn__offset-chat 300px
    --mgfn__offset-phone -360px
    --mgfn__answers-height 220px

    & ^[-1]__sms
      &[data-solo]
        margin-top 70px

    & ^[-1]__answers
      width 100%
      border-radius 0

      &[data-show='result']
        & ^[-1]-result
          justify-content flex-start
          padding 10px 5px 5px

          font-size .8em

          &--status
            line-height 1

          &--text
            font-size .99em
            line-height 1.4

          &--next-btn
            bottom 10px; right 10px
            font-size .9em

      &--phrase, &--theme-switcher
        padding 10px 5px 0
        font-size .8em

      &--phrase
        left 2.5px

      &--theme-switcher
        right 2.5px

        span
          transform scale(.7)
          margin-left 0

      &-list
        &-item
          align-items baseline
          padding 10px 0

      &-item
        &-btn
          font-size .65em !important

          &--face
            height 70px

    & ^[-1]__final
      &-result
        grid-template resultGrid(130px, 35px, 65px, 150px)

      &--restart-btn
        font-size: .9em

      &--sms
        padding 10px 20px

        & ^[0]__sms
          font-size .95em

          &--sender
            margin-bottom 0

      &--face
        padding 5px

        img
          height 80px !important

      &-megafon
        padding 20px

        &--logo
          img
            display block
            height 25px

        &--text
          margin-top 10px

          font-size .8em
          line-height 1.5

          div
            &:not(:first-child)
              margin-top: 5px

        &--link
          margin-top 10px
          padding 5px 20px
          font-size .8em

    .likely
      &__widget
        width auto; height 30px

      &__icon
        svg
          width .9em; height .9em

  &[max-width~='374px'] // $mq.iphone5
    width 100%; height 530px

    --mgfn__offset-chat 385px
    --mgfn__offset-phone -420px
    --mgfn__answers-height 200px
    --mgfn__solo-sms-offset 30px

    & ^[-1]__phone
      bottom -420px

    & ^[-1]__chat
      height calc(100% - 385px)

    & ^[-1]__answers
      grid-template-rows 55px 1fr

      &--header
        display grid
        grid-template 'ts' 30px 'phrase' 25px / 1fr

      &--phrase
        font-size .8em

      &-result
        position static
        display block
        padding 5px 10px 10px

        text-align center

        &--text
          margin-top 5px
          line-height 1.5

        &--next-btn
          height 30px
          top -30px; left 5px

          padding-left 10px

          opacity .5

          font-size .8em

      &[data-show='result']
        grid-template-rows 30px 1fr

        [class$='--header']
          grid-template 'ts' 30px / 1fr

        [class$='--phrase']
          display none

      &:not([data-show='result'])
        [class$='-result']
          display none

      &--phrase, &--theme-switcher
        display flex
        align-items center

        position static
        padding 0

      &--phrase
        justify-content center

      &--theme-switcher
        padding-right 5px
        justify-content flex-end

      &-list
        &-item
          padding 10px 0 5px

      &-item
        &-btn
          &--face
            height 40px

    & ^[-1]__final
      &-result
        padding 5px 10px
        grid-template resultGrid(100px, 40px, 40px, 110px)

      &--score
        font-size .8em
        line-height 1.5

      &--face
        img
          height 50px !important

      &--sms
        padding 5px 10px !important

        & ^[0]__sms
          font-size: .9em

          &-text--content
            padding 5px !important

      &--restart-btn
        font-size .65em

        button
          margin-top 0

      &-megafon
        padding 10px

        &--logo
          img
            height 20px

        &--text
          font-size .7em

        &--link
          padding 5px 20px
          font-size .7em

    .likely
      &__widget
        height 25px
        padding 0 5px
