&
  @media screen and (max-width 1059px)
    width 100%

  @media $mq.desktop
    &__answers
      &-item
        &-btn
          transition var(--mgfn__standard-transilion)

  @media screen and (max-height 770px)

    &:not([data-is-feed])
      --mgfn__offset-chat 315px
      --mgfn__offset-phone -370px

      &__sms
        &[data-solo]
          margin-top 100px

  @media (min-width 1025px) and (max-height 800px)

    &:not([data-is-feed])
      display: flex
      align-items: flex-end
      width: 100%
      min-height: calc(100vh - 50px)

  &[max-width~='1026px'] // $mq.notDesktop

    & ^[-1]__final
      font-size .5em

      &-result
        padding 0 25px
        grid-template resultGrid(140px, 80px, 60px, 200px)

      &--score
        padding-top 20px

      &--sms
        display flex
        padding 10px 5px 10px 20px

        justify-content flex-end

        & ^[0]-im__msg
          padding 10px
          padding-left 15px
          font-size .8em

      &--face
        img
          width 90px

  &[max-width~='679px'] // $mq.mobile
    --mgfn__offset-chat 300px
    --mgfn__offset-phone -360px
    --mgfn__answers-height 220px
    --mgfn__solo-sms-offset 100px

    & ^[-1]__answers
      &-item
        &-btn
          font-size .65em

          &--face
            height 70px

    & ^[-1]__final
      &-result
        grid-template resultGrid(130px, 35px, 65px, 150px)

        @media $mq.mobile
          padding: 0 5px 0 15px

      &--restart-btn
        font-size .9em

      &--sms
        padding 10px 5px
        padding-left 10px

        @media $mq.notMobile
          padding: 10px 15px 10px 5px

        & ^[0]-im__msg
          max-width 250px
          font-size .65em

          &-author
            margin-bottom 0

      &--face
        padding 5px

        @media $mq.notMobile
          padding-right 15px

        & > img

          @media $mq.mobile
            width: 60px

      &-megafon
        padding 15px

        @media $mq.notMobile
          padding: 25px

        &--logo
          img
            display block
            height 25px

        &--text
          margin-top 10px

          font-size .8em
          line-height 1.5

          div
            &:not(:first-child)
              margin-top 5px

        &--link
          margin-top 10px
          padding 5px 20px
          font-size .8em

    .likely
      &__widget
        width auto; height 30px

      &__icon
        svg
          width .9em; height .9em

  &[max-width~='374px'] // $mq.iphone5
    width 100%

    --mgfn__offset-chat 395px
    --mgfn__offset-phone -425px
    --mgfn__answers-height 210px
    --mgfn__solo-sms-offset 60px

    & ^[-1]__answers

      &:not([data-show='result'])
        [class$='-result']
          display none

      &-item
        &-btn
          &--face
            height 40px

    & ^[-1]__final
      &-result
        padding 10px
        grid-template resultGrid(100px, 40px, 40px, 115px)

      &--score
        font-size .8em
        line-height 1.5

      &--sms
        padding 5px

        & ^[0]-im__msg
          font-size .65em
          padding 5px
          padding-left 15px

      &--face
        img
          width 60px

      &--restart-btn
        font-size .65em

        button
          margin-top 0

      &-megafon
        margin-top 10px
        padding 10px

        &--logo
          img
            height 20px

        &--text
          font-size .7em

        &--link
          padding 5px 20px
          font-size .7em

    .likely
      &__widget
        height 25px
        padding 0 5px
