&[data-is-feed]
  max-width 640px

  & ^[0]__answers
    max-width calc(100% - 20px)
    border-radius 30px 30px 0 0

    box-shadow 0px -1px 10px rgba(#000, .1)

    &--phrase
      font-size .75em

    &--phrase
      left 10px

    &-item
      &-btn
        transition var(--mgfn__standard-transilion)

  // сброс значений для маленьких экранов
  &[max-width~='374px']

    & ^[0]__answers
      max-width 100%
      border-radius 0

      &-item
        &-btn
          transition none
