&[data-is-feed]
  max-width 100%
  width: 640px

  & ^[0]__answers

    &-item
      &-btn
        transition var(--mgfn__standard-transilion)

  // сброс значений для маленьких экранов
  &[max-width~='374px']

    & ^[0]__answers

      &-item
        &-btn
          transition none
