&__final
  &-result, &-megafon
    max-width 700px

    background-color #fff
    box-shadow: 0px -1px 34px rgba(0, 0, 0, .1)

  &-result
    display grid

    padding 0 40px

    grid-template resultGrid(120px, 50px, 80px, 300px)

  &--score
    grid-area score

    padding 40px 5px 0

    font-size 1.2em
    font-weight 500
    color #00B956

  &--share
    grid-area share

  &--restart-btn
    grid-area btn

    button
      background-color transparent
      border 0

      margin-top 10px
      padding 0

      outline 0

      cursor pointer
      user-select none

      transition var(--mgfn__standard-transilion)

      &::after
        content ''

        display inline-block
        width 1em; height 1em
        margin-left 5px

        vertical-align middle

        background-image var(--mgfn__svg-refresh)
        background-size contain
        background-repeat no-repeat

      &:hover
        opacity .8

        @media $mq.notHover
          opacity 1

  &--sms
    grid-area sms

    display flex
    justify-content center
    align-items center

    padding 10px

    & ^[0]__sms
      margin 0

      &-text--content
        background-color #00B956
        padding 10px 20px

        &::after
          border-bottom 10px solid #00B956 !important

      &--sender, &--text
        color #fff

      &--sender
        font-weight 700

      &--text
        line-height 1.5

        b
          font-weight 700

  &--face
    grid-area face

    display flex
    justify-content center
    align-items center

    padding 10px

    img
      height 150px

  &-megafon
    margin-top 20px
    padding 30px 40px

    &--logo
      display block

      img
        height 40px

    &--text
      margin-top: 25px

      p
        &:not(:first-child)
          margin-top: 15px

    &--link
      display block

      width min-content

      margin-top 40px
      padding 10px 40px

      background-color #731982
      border-radius 5px

      user-select none

      color #fff

      transition var(--mgfn__switch-theme-transilion)

      &:hover
        background-color lighten(@background-color, 10)

  ^[-1][data-is-feed]
    & ^[-1]
      font-size .5em

      &-result
        padding 0 20px

        grid-template resultGrid(140px, 80px, 60px, 200px)

      &--score
        padding-top 20px

      &--sms
        & ^[0]__sms
          &-text--content
            padding 10px

          &--sender, &--text
            font-size .9em

      &--face
        img
          height 120px
