/*
 * https://github.com/picturepan2/devices.css
 */

&__device
  position: relative;
  transform: scale(1);
  z-index: 1;

  &, & *
    &, &::before, &::after
      box-sizing: border-box;
      display: block;

  &-frame
    z-index: 1;

  &-content
    background-color: #fff;
    background-position: center center;
    background-size: cover;
    object-fit: cover;
    position: relative;
    overflow: hidden

  &-iphone-x
    height: 868px;
    width: 428px;

  &-frame
    background: #fff;
    border-radius: 68px;
    box-shadow: inset 0 0 0 5px #C0C0C0;
    height: 868px;
    padding: 28px;
    width: 428px;

  &-content
    border-radius: 40px;
    height: 812px;

  &-header
    background: #fff;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 30px;
    left: 50%;
    margin-left: -102px;
    position: absolute;
    top: 27px;
    width: 204px;

    &::after, &::before
      content: "";
      height: 10px;
      position: absolute;
      top: 0;
      width: 10px;

    &::after
      background: radial-gradient(circle at bottom left, transparent 0, transparent 75%, #fff 75%, #fff 100%);
      left: -9px;

    &::before
      background: radial-gradient(circle at bottom right, transparent 0, transparent 75%, #fff 75%, #fff 100%);
      right: -9px;

  &-sensors
    &::after, &::before
      content: "";
      position: absolute;

    &::after
      background: #E3E3E3;
      border-radius: 3px;
      height: 6px;
      left: 50%;
      margin-left: -25px;
      top: 32px;
      width: 50px;

    &::before
      background: #E3E3E3;
      border-radius: 50%;
      height: 14px;
      left: 50%;
      margin-left: 40px;
      top: 28px;
      width: 14px;

  &-btns
    background: #C0C0C0;
    height: 32px;
    left: -2px;
    position: absolute;
    top: 115px;
    width: 3px;

    &::after, &::before
      background: #C0C0C0;
      content: "";
      height: 62px;
      left: 0;
      position: absolute;
      width: 3px;

    &::after
      top: 60px;

    &::before
      top: 140px;

  &-power
    background: #C0C0C0;
    height: 100px;
    right: -2px;
    position: absolute;
    top: 200px;
    width: 3px;
