&__phone
  position relative
  bottom -300px

  transform: scale(.7)

  &--content
    height 100%

    display grid
    grid-template-columns 1fr
    grid-template-rows 80px calc(100% - 80px)

    font-size 1.4em
