placeholder(color)
  &::-webkit-input-placeholder
    color: color

  &::-moz-placeholder
    color: color
    opacity: 1

  &:-ms-input-placeholder
    color: color

webkitOverflowFix()
  -webkit-mask-image: -webkit-radial-gradient(white, black)

visibility-hidden()
  width 0; height 0
  position absolute
  overflow hidden
  clip rect(0 0 0 0)

resultGrid(w1, w2, w3, w4)
  'score sms face' w1 'share sms face' w2 'btn sms face' w3 \/ w4 auto auto

webkit-anim-delay()
  @supports (-webkit-appearance none) {
    -webkit-transition-delay -.1s
  } // по какой-то причине WebKit анимирует текст немного позже
