$mq = {
  iphone5: '(max-width: 374px)',
  iphone6: '(min-width: 375px)',
  mobile: '(max-width: 679px)',
  notMobile: '(min-width: 680px)',
  desktop: '(min-width: 1025px)',
  notDesktop: '(max-width: 1026px)',
  notHover: '(hover: none), (hover: on-demand)'
}
