/*
 * https://www.faststone.org/FSResizerDetail.htm
 * hhttps://tinypng.com/
 */

$IMAGE_CDN = 'https://leonardo.osnova.io/'

$images = {
  chat_bg_x1: url($IMAGE_CDN + 'c24f94e5-726a-fd6e-b0ef-b3268c46dbbf')
  chat_bg_x2: url($IMAGE_CDN + '5ecdb63a-da5b-bf17-f6c4-178cb2b4a920')

  anon_x1: url($IMAGE_CDN + 'a0ee6cd2-d95c-f43e-ac74-0eaf166ad3b7')
  anon_x2: url($IMAGE_CDN + '8f3645aa-bcc2-aa81-feac-191dc465bb24')
}
