// Если спецпроект интегрирован в сайт, из media queries обычно хватает только двух: mobile и not_mobile
@import './inc/mq'

@import './inc/functions'
@import './inc/keyframes'

@import './svg'
@import './images'

// base.styl подключается только в том случае, когда спецпроект расположен на отдельной странице
// @import 'base'

// FYI: на десктопе на странице статьи максимальная ширина контейнера — 1060px. В ленте сайта — 640px.
// Мобильная версия начинается с 679px, и там ограничений по ширине нет

// Название класса рекомендуется выбирать так, чтобы точно не было конфликтов с существующими спецпроектами.
// Обычно имени проекта достаточно

.mgfn-trgt
  position relative
  width 1060px; height 720px

  background-color #f0f0f0

  //font-size 18px
  line-height 1.5em

  overflow-x hidden
  overflow-y auto

  z-index 99

  button
    font-size inherit

  // SVG-иконки и картинки (двоеточия ОБЯЗАТЕЛЬНЫ)

  --mgfn__svg-mark_success: $svg.mark_success
  --mgfn__svg-mark_failure: $svg.mark_failure
  --mgfn__svg-arrow: $svg.arrow
  --mgfn__svg-refresh: $svg.refresh

  --mgfn__img-chat-bg: $images.chat_bg_x1
  --mgfn__img-anon: $images.anon_x1

  // Различные параметры для медиа-запросов

  --mgfn__offset-chat 215px
  --mgfn__offset-phone -300px
  --mgfn__answers-height 270px
  --mgfn__solo-sms-offset 150px

  --mgfn__switch-theme-transilion all .5s ease-in-out
  --mgfn__standard-transilion all .3s ease-in-out

  @keyframes mgfn__typing-blink
    0%
      opacity .7
    50%
      opacity .5
    100%
      opacity .7

  &, *
    box-sizing border-box

    &::-webkit-scrollbar
      width 4px

      &-thumb
        background-color #ccc

        &:hover
          background-color #999

    @supports (-moz-appearance: none) {
      scrollbar-width thin
      scrollbar-color #ccc transparent
    }

  &[data-theme='green']
    --mgfn__header-bg-color #00B956
    --mgfn__header-text-color #fff
    --mgtn__chat-bg-color #ede5f0
    --mgtn__chat-scroll-color #00B956
    --mgtn__chat-text-color #00B956
    --mgtn__user-sms-bg-color #e1ffef
    --mgtn__link-border rgba(#00B956, .5)

  &[data-theme='pink']
    --mgfn__header-bg-color #fbeaee
    --mgfn__header-text-color #000
    --mgtn__chat-bg-color  #e8e8e8
    --mgtn__chat-scroll-color #807678
    --mgtn__chat-text-color #FB9DB3
    --mgtn__user-sms-bg-color #fff2f5
    --mgtn__link-border rgba(#FB9DB3, .5)

  &__screens
    width 100%; height 100%

  &__screen
    position relative
    width 100%; height 100%

    display flex
    flex-direction column

    align-items center

    font-size 18px

    transition none

    overflow hidden

    &:not([data-show])
      visibility-hidden()

    &--quiz
      justify-content flex-end

    &--final
      justify-content center

  @import './parts/iphone-x'

  @import './parts/phone'

  @import './parts/chat'

  @import './parts/answers'

  @import './parts/sms'

  @import './parts/final'

  .likely
    display flex

    &__widget
      display flex

      width 60px; height 40px

      padding 0 10px

      align-items center
      justify-content center

      background-color transparent

      border 1px solid

      transition var(--mgfn__standard-transilion)

      color inherit

      cursor pointer

      svg
        path
          transition var(--mgfn__standard-transilion)

      &:not(:first-child)
        margin-left: 10px

      &--vkontakte
        &:hover
          background-color #5b88bd

      &--facebook
        &:hover
          background-color #4267b2

      &--twitter
        &:hover
          background-color #1da1f2

      &:hover
        svg
          path
            fill #fff

        @media $mq.notHover
          background-color transparent

          svg
            path
              fill unset

    &__icon
      background-color transparent

      svg
        display block
        width 1.2em; height 1.2em

  @import 'parts/eq'

  @import './parts/feed'
