// Если спецпроект интегрирован в сайт, из media queries обычно хватает только двух: mobile и not_mobile
@import './inc/mq'

@import './inc/functions'
@import './inc/keyframes'

@import './svg'

// base.styl подключается только в том случае, когда спецпроект расположен на отдельной странице
// @import 'base'

// FYI: на десктопе на странице статьи максимальная ширина контейнера — 1060px. В ленте сайта — 640px.
// Мобильная версия начинается с 679px, и там ограничений по ширине нет

// Название класса рекомендуется выбирать так, чтобы точно не было конфликтов с существующими спецпроектами.
// Обычно имени проекта достаточно

.mgfn-trgt
  position relative
  width 1060px; height 750px

  font-size 18px
  line-height 1.5em

  overflow-x hidden
  overflow-y auto

  &[data-is-feed]
    max-width 640px

  button
    font-size inherit

  &, *
    &::-webkit-scrollbar
      width 4px

      &-thumb
        background-color #ccc

        &:hover
          background-color #999

    @supports (-moz-appearance: none) {
      scrollbar-width thin
      scrollbar-color #ccc #fff
    }

  --mgfn__svg-vc_logo: $svg.vc_logo
  --mgfn__svg-megafon_logo: $svg.megafon_logo
  --mgfn__svg-mark_success: $svg.mark_success
  --mgfn__svg-mark_failure: $svg.mark_failure
  --mgfn__svg-arrow: $svg.arrow
  --mgfn__svg-refresh: $svg.refresh

  @keyframes mgfn__typing-blink
    0%
      opacity .7
    50%
      opacity .5
    100%
      opacity .7

  &[data-theme='green']
    --mgfn__header-bg-color #00B956
    --mgfn__header-text-color #fff
    --mgtn__chat-bg-color #ede5f0
    --mgtn__chat-scroll-color #00B956
    --mgtn__chat-text-color #00B956
    --mgtn__chat-link-border rgba(#00B956, .5)

  &[data-theme='pink']
    --mgfn__header-bg-color #fbeaee
    --mgfn__header-text-color #000
    --mgtn__chat-bg-color  #e8e8e8
    --mgtn__chat-scroll-color #807678
    --mgtn__chat-text-color #FB9DB3
    --mgtn__chat-link-border rgba(#FB9DB3, .5)

  $IMAGE_CDN = 'https://leonardo-direct.osnova.io/'

  --mggn__img-chat_bg_x1 url($IMAGE_CDN + 'c24f94e5-726a-fd6e-b0ef-b3268c46dbbf')
  --mggn__img-chat_bg_x2 url($IMAGE_CDN + '5ecdb63a-da5b-bf17-f6c4-178cb2b4a920')

  --mggn__img-anon_x1 url($IMAGE_CDN + 'a0ee6cd2-d95c-f43e-ac74-0eaf166ad3b7')
  --mggn__img-anon_x2 url($IMAGE_CDN + '8f3645aa-bcc2-aa81-feac-191dc465bb24')

  --mgfn__switch-theme-transilion all .5s ease-in-out
  --mgfn__standard-transilion all .3s ease-in-out

  resultGrid(w1, w2, w3, w4)
    'score sms face' w1 'share sms face' w2 'btn sms face' w3 \/ w4 auto auto

  &__screens
    width 100%; height 100%

  &__screen
    position relative
    width 100%; height 100%

    background-color #f0f0f0

    overflow: hidden

    &:not([data-show])
      width 0; height 0
      position absolute
      overflow hidden
      clip rect(0 0 0 0)

    &--quiz, &--final
      display flex

      flex-direction column

      align-items center

    &--quiz
      justify-content flex-end

    &--final
      justify-content center

  @import './parts/iphone-x'

  @import './parts/phone'

  @import './parts/chat'

  @import './parts/answers'

  @import './parts/sms'

  @import './parts/final'

  &[data-is-feed]
    height 610px

    & ^[0]__phone
      bottom -390px

    & ^[0]__chat
      height calc(100% - 345px)

    & ^[0]__sms
      &[data-solo]
        margin-top 70px

    & ^[0]__answers
      width calc(100% - 40px)
      min-height 250px !important

      grid-template-rows 65px 1fr

      &--header
        display grid
        grid-template 'ts' 35px 'phrase' 30px / 1fr

      &[data-show='result']
        grid-template-rows 35px 1fr

        & ^[-1]--header
          grid-template 'ts' 35px / 1fr

        & ^[-1]-result
          justify-content flex-start

          padding 10px

          font-size .8em  !important

          &--status
            line-height 1

          &--text
            font-size .99em
            line-height 1.4

      &--phrase, &--theme-switcher
        display flex
        align-items center
        justify-content center

        position static
        padding 0

        font-size .8em

      &--theme-switcher
        span
          transform scale(.7)
          margin-left: 0

      &-list
        &-item
          align-items baseline
          padding 10px 0

      &-item
        &-btn
          font-size .65em !important

          &--face
            height 70px

    & ^[0]__final
      &-result
        grid-template resultGrid(140px, 35px, 65px, 150px) !important

      &--restart-btn
        font-size: .9em

      &-megafon
        margin-top 5px

        &--logo
          img
            display block
            height 25px

        &--text
          font-size .8em

        &--link
          padding 5px 20px
          font-size .8em

    .likely
      &__widget
        width auto; height 30px

      &__icon
        svg
          width .9em; height .9em

  &__cache
    width 0; height 0
    position absolute
    overflow hidden
    clip rect(0 0 0 0)

  .likely
    display flex

    &__widget
      display flex

      width: 60px; height 40px

      align-items center
      justify-content center

      background-color transparent

      border 1px solid

      padding 0 10px

      color inherit

      cursor pointer

      transition var(--mgfn__standard-transilion)

      &:not(:first-child)
        margin-left: 10px

      &:hover
        @media $mq.notHover
          background-color transparent

        svg
            fill #fff

      &--vkontakte
        &:hover
          background-color #5b88bd

      &--facebook
        &:hover
          background-color #4267b2

      &--twitter
        &:hover
          background-color #1da1f2

    &__icon
      background-color transparent

      svg
        display block
        width 1.2em; height 1.2em

        transition var(--mgfn__standard-transilion)

  @import 'parts/mq'
